$css-color-white: #fff;
$css-color-screen: #ebf5f8;
$css-color-wash: #d8edf1;
$css-color-ocean: #c5e4ea;
$css-color-turquoise--light: #8dcad6;
$css-color-turquoise: #55b0c2;
$css-color-turquoise--dark: #358595;
$css-color-turquoise--darker: #28636f;
$css-color-turquoise--darkest: #21535d;
$css-color-pistachio: #8ba698;
$css-color-pan: #638172;
$css-color-screen--off: #42564c;
$css-color-katana: #21262b;
