<!DOCTYPE html>
<html lang="en-us"><head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="title" content="{{ title }}" />
  <meta name="keywords" content="" />
  <meta name="description" content="{{ description }}" />
  <meta property="fb:admins" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/_vendor/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/_vendor/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/bundle.min.css" />
</head><body>

<main id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        {{{ contents }}}
      </div>
    </div>
  </div>
</main>

<script type="text/javascript" src="/_vendor/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/_scripts/bundle.min.js"></script>

</body></html>
